@model O7ECM.Code.Regla

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Regla</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actividades.DescripcionActividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actividades.DescripcionActividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bandeja.NombreBandeja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bandeja.NombreBandeja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tramite.DescripcionTramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tramite.DescripcionTramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo_Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo_Dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo_Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo_Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo_Minuto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo_Minuto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
